@model MechAppProject.Models.AddEventModel

@{
    ViewBag.Title = "AddEvent";
}

<h2>Zarezerwuj termin</h2>

@using (Html.BeginForm("", "", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.CustomerCarsSelectList)
        @Html.DropDownListFor(x => x.CustomerCar, Model.CustomerCarsSelectList, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.WorkshopServicesSelectList)
        @Html.DropDownListFor(x => x.WorkshopService, Model.WorkshopServicesSelectList, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ServiceDate)
        @Html.TextBoxFor(x => x.ServiceDate, new { @class = "form-control datepicker", placeholder = "Wybierz datę..." })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.ServiceHourSelectList)
        @Html.DropDownListFor(x => x.ServiceHours, Model.ServiceHourSelectList, new { @class = "form-control" })
    </div>

    <button class="btn btn-default" type="submit">Zarezerwuj</button>
}

<div id="event-calendar-id"></div>

<script>
    $(function () {
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker(); //Initialise any date pickers
        });

        $('#event-calendar-id').simpleCalendar({
            disableEmptyDetails: true,
            events: [
                {
                    startDate: new Date(new Date().setHours(new Date().getHours() + 1)).toISOString(),
                    endDate: new Date(new Date().setHours(new Date().getHours() + 1.1)).toISOString(),
                    summary: 'Visit of the Eiffel Tower'
                },
                {
                    startDate: new Date(new Date().setHours(new Date().getHours() + 1.11)).toISOString(),
                    endDate: new Date(new Date().setHours(new Date().getHours() + 1.15)).toISOString(),
                    summary: 'Visit of the Eiffel Tower'
                },
                {
                    startDate: new Date(new Date().setHours(new Date().getHours() - 27)).toISOString(),
                    endDate: new Date(new Date().setHours(new Date().getHours() - 25)).toISOString(),
                    summary: 'Visit of the Eiffel Tower'
                }
            ],
            onDateSelect: function (date, events) {
                var eventsEl = $('.event-wrapper > .event');

                eventsEl.each(function (index) {
                    var eventHour = $(this).find('.event-hour');

                    var startHours = new Date(events[index].startDate).getHours().toString() + ":" + new Date(events[index].startDate).getMinutes().toString();
                    var endHours = new Date(events[index].endDate).getHours().toString() + ":" + new Date(events[index].endDate).getMinutes().toString();

                    eventHour.html(startHours + " - " + endHours);
                });
            }

        });
    });
</script>


