<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MechApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Lista warsztatów", "Index", "Workshop")</li>
                    @if (Session["Login"] == null && Session["LoginWorkshop"] == null)
                    {
                        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                        <li>@Html.ActionLink("O aplikacji", "About", "Home")</li>
                    }
                    @if (Session["Login"] != null)
                    {
                        <li>@Html.ActionLink("Twoje Dane", "CustomerProfile", "Account")</li>
                        <li>@Html.ActionLink("Edytuj Dane", "CustomerProfileEdit", "Account")</li>
                        <li>@Html.ActionLink("Czat", "Index", "Chat")</li>
                    }
                    @if (Session["LoginWorkshop"] != null)
                    {
                        <li>@Html.ActionLink("Czat", "Index", "Chat")</li>
                        <li>@Html.ActionLink("Twoje Dane", "WorkshopProfile", "Account")</li>
                        <li>@Html.ActionLink("Edytuj Dane", "WorkshopProfileEdit", "Account")</li>
                    }

                </ul>
                @Html.Partial("_loginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Moja aplikacja ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
