@using MechAppProject.Models;

@if (Session["Login"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Register", "Register", "Account", null, null)
        </li>
        <li>
            @Html.ActionLink("Login", "Login", "Account", null, null)
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Witaj " + (Session["Login"] as SessionModel).UserLogin, "Index", "Home", null, null)
        </li>
        <li>
            @Html.ActionLink("Logout", "Logout", "Account", null, null)
        </li>
    </ul>

}

@if (Session["LoginWorkshop"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("RegisterWorkshop", "RegisterWorkshop", "Account", null, null)
        </li>
        <li>
            @Html.ActionLink("LoginWorkshop", "LoginWorkshop", "Account", null, null)
        </li>

    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Witaj " + (Session["LoginWorkshop"] as SessionModel).WorkshopLogin, "Index", "Home", null, null)
        </li>
        <li>
            @Html.ActionLink("LogoutWorkshop", "LogoutWorkshop", "Account", null, null)
        </li>
    </ul>
}