@model MechAppProject.Models.CustomerModel

@{
    ViewBag.Title = "CustomerProfile";
}

<h2>Customer profile</h2>

<div>@Model.Login</div>
<div>@Model.Password</div>
<div>@Model.Email</div>
<div>@Model.Name</div>
<div>@Model.Surname</div>
<div>@Model.City</div>
<div>@Model.Street</div>
<div>@Model.StreetNbr</div>
<div>@Model.ZipCode</div>
<div>@Model.PhoneNbr</div>


