@model MechAppProject.Models.WorkshopLoginModel
@{
    ViewBag.Title = "LoginWorkshop";
}


<fieldset>
    <legend>
        Workshop Login
    </legend>
    @using (Html.BeginForm("LoginWorkshop", "Account", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Login)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Login)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.Login, null, new { @class = "text text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Password)
                </td>
                <td>
                    @Html.PasswordFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text text-danger" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <input type="submit" value="Zaloguj" />
                            </td>
                            <td>
                                <input type="reset" value="Wyczyść" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.ValidationMessage("Error", null, new { @class = "text text-danger" });
                </td>
            </tr>
        </table>
    }
</fieldset>