@model MechAppProject.Models.WorkshopModel

@{
    ViewBag.Title = "WorkshopProfile";
}

<h2>Workshop profile</h2>

<div>@Model.Login</div>
<div>@Model.Password</div>
<div>@Model.Email</div>
<div>@Model.WorkshopName</div>
<div>@Model.OwnerName</div>
<div>@Model.City</div>
<div>@Model.Street</div>
<div>@Model.StreetNbr</div>
<div>@Model.ZipCode</div>
<div>@Model.PhoneNbr</div>
